@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}

.img {
  background-image: url('./components/img/main.jpg');
  background-size: cover;
  object-fit: cover;
  height: 600px;
  width: 90%;
  border-radius: 40px;
}
.headlineimg{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}